{% block includes %}
#include "string.h"
#include "cmc/types/pstring.h"
#include "cmc/types/varnums.h"
#include <string.h>
{% endblock %}

{% block unpack %}
  size_t len = cmc_unpack_varint(buff, err);
  if(*err != CMC_ERR_NO) {
    {{on_err}}
  }
  {{ dest }} = cmc_unpack_pstring(buff, len, err);
  if(*err != CMC_ERR_NO)  {
    {{on_err}}
  }
{% endblock %}

{% block pack %}
  err = cmc_pack_pstring(buff, data, strlen(data));
{% endblock %}

{% block free %}
  cmc_free({{data}});
{% endblock %}
