cmc_err {{t}}_pack(cmc_buff *buff, {{t}} data) {
  cmc_err err = CMC_ERR_NO;
  {{ g("on_err", "return err;")}}
  {{ get_bo("pack", data)}}
}

{{t}} {{t}}_unpack(cmc_span *span, cmc_err *err) {
  {{ g("on_err", "return ({"+t+"}){0};") }}
  {{t}} data;
  {{ get_bo("unpack", data, {"dest": "data"}) }}
  return data;
}
