{{ get_bo("include", data) }}
{{ include("cmc/err") }}
{{ include(sformat("cmc/type/{}/{}", protvers, name))}}
{{ render_includes() }}

{{t}} {{t}}_unpack(cmc_span *buff, cmc_err *err) {
    {{ g("on_err", sformat("return ({})", t) + "{0};") }}
    {{t}} data = ({{t}}){0};
    {{ get_bo("unpack", data, {"loc": "data"}) }}
    return data;
}

cmc_err {{t}}_pack(cmc_buff *buff, {{t}} data) {
    {{ g("on_err", "return CMC_ERR_NO;") }}
    cmc_err err = CMC_ERR_NO;
    {{ get_bo("pack", data, {"loc": "data"}) }}
    return err;
}
